<%= form_with(model: admin_vaccine) do |form| %>
  <% if admin_vaccine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_vaccine.errors.count, "error") %> prohibited this admin_vaccine from being saved:</h2>

      <ul>
        <% admin_vaccine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :no_of_doses %>
    <%= form.number_field :no_of_doses %>
  </div>

  <div class="field">
    <%= form.label :days_to_sec_dose %>
    <%= form.number_field :days_to_sec_dose %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
