<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_vaccine.name %>
</p>

<p>
  <strong>No of doses:</strong>
  <%= @admin_vaccine.no_of_doses %>
</p>

<p>
  <strong>Days to sec dose:</strong>
  <%= @admin_vaccine.days_to_sec_dose %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @admin_vaccine.amount %>
</p>

<%= link_to 'Edit', edit_admin_vaccine_path(@admin_vaccine) %> |
<%= link_to 'Back', admin_vaccines_path %>
