<h4 class="text-center">User Show Page</h4>
<div class="alert alert-success" role="alert">
	<h4 class="text-center">First Name: <%=@user.first_name %></h4>
	<h4 class="text-center">Last Name: <%=@user.last_name %></h4>
	<h4 class="text-center">Email: <%=@user.email %></h4>
	<h4 class="text-center">Age: <%=@user.age %></h4>
	<h4 class="text-center">CNIC: <%=@user.cnic %></h4>
	<h4 class="text-center">DOB: <%=@user.dob %></h4>
	<h4 class="text-center">is Head?: <%=@user.head? %></h4>
	<h4 class="text-center">is Person?: <%=@user.vac_person? %></h4>
</div>