<section class="page-title" style="background-image: url('/assets/bg/22.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">About Us</span>
          <h1 class="text-capitalize mb-5 text-lg">About Us</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section about-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h2 class="title-color">Personal care for your healthy living</h2>
			</div>
			<div class="col-lg-8">
				<p>Here at FAST VACC we try to maintain an honest and sincere approach towards the care of our patients and believe in the ethos of patient’s choice. We also value a team-based model of care including the involvement of consultants, junior doctors, nurses and allied health-care professionals to drive patient care forward in the most productive and result-oriented directions. It is with these values and credentials that we serve the populace of Lahore and surrounding cities, to fulfill a shared dream of serving patients to the best of one’s ability and integrity.</p>
        <%= image_tag "about/sign.png", class: 'img-fluid' %>
			</div>
		</div>
	</div>
</section>

<section class="fetaure-page ">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
        	<%= image_tag "about/about-1.jpg", class: 'img-fluid' %>
					<h4 class="mt-3">Healthcare for Kids</h4>
					<p>We ensure the availablity of qualified professionals and make sure to provide free of cost services to children under 12.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
        	<%= image_tag "about/about-2.jpg", class: 'img-fluid' %>
					<h4 class="mt-3">Medical Counseling</h4>
					<p>Qualified doctors are available to attend to your needs and make sure that you are given the right professional advice .</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
        	<%= image_tag "about/about-3.jpg", class: 'img-fluid' %>
					<h4 class="mt-3">Modern Equipments</h4>
					<p>We have ensured the availability of all the important and needed equipments. All of these equipments are imported from abroad and are regularly inspected to evaluate their performance .</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item">
        	<%= image_tag "about/about-4.jpg", class: 'img-fluid' %>
					<h4 class="mt-3">Qualified Doctors</h4>
					<p>We have numerous qualified doctors who have different specialities and have years of experience.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section awards">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4">
				<h2 class="title-color">Our Doctors achievements </h2>
				<div class="divider mt-4 mb-5 mb-lg-0"></div>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
        			<%= image_tag "about/3.png", class: 'img-fluid' %>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
        			<%= image_tag "about/4.png", class: 'img-fluid' %>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
        			<%= image_tag "about/1.png", class: 'img-fluid' %>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
        			<%= image_tag "about/2.png", class: 'img-fluid' %>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
        			<%= image_tag "about/5.png", class: 'img-fluid' %>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
        			<%= image_tag "about/6.png", class: 'img-fluid' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6">
				<div class="section-title">
					<h2 class="mb-4">What they say about us</h2>
					<div class="divider  my-4"></div>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-6 testimonial-wrap offset-lg-6">
				<div class="testimonial-block">
					<div class="client-info ">
						<h4>Amazing service!</h4>
						<span>John Partho</span>
					</div>
					<p>
						They provide great service facilty and make sure that the patient and their families face no hassle or distress in the time of need. A special attendant is appointed with each patient to make sure to avoid any issue.
					</p>
					<i class="icofont-quote-right"></i>
					
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Expert doctors!</h4>
						<span>Mullar Sarth</span>
					</div>
					<p>
						They provide numerous number of doctors needed from every field. So that the patient has the opportunity to decide which doctor do they trust themselves with.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Good Support!</h4>
						<span>Kolis Mullar</span>
					</div>
					<p>
						Their doctors and the paramedic staff is extremely kind and understanding and make sure to accomodate the patient at any time. Moreover put in their best effort to create convenience for patients.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Nice Environment!</h4>
						<span>Partho Sarothi</span>
					</div>
					<p>
						The center is always clean and it is made sure that patients which are already sick are not exposed to any germs.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Modern Service!</h4>
						<span>Kolis Mullar</span>
					</div>
					<p>
						They have modern equipment and attend to all your needs by arranging anything that is needed for the treatment without burdening the patient in their difficult times.
					<i class="icofont-quote-right"></i>
				</div>
			</div>
		</div>
	</div>
</section>