<% if params[:success].present? %>
<div class="alert alert-success" role="alert">
  Successfully Vaccinated User
</div>
<% end %>
<div class="alert alert-dark" role="alert">
	<h2 class="text-center">Hello, <%= current_user.first_name %></h2>
	<% if @center_data.present? %>
	<div class="row mt-5">
		<h4>You Are Assigned to <%= @center_data.name %></h4>
		<h4>Location is <%= @center_data.location%></h4>	
	</div>
</div>
<div class="container">
	<div class="alert alert-info" role="alert">
	<h2 class="text-center">Following Are Available Vaccines </h2>
		<table>
		  <thead>
		    <tr>
		      <th>Vaccine</th>
		      <th>Dose Count</th>
		    </tr>
		  </thead>

		  <tbody>
		  	<% name = Array.new(100)%>
		  	<% amount = Array.new(100)%>
		    <% @vaccines.each_with_index do |vaccine, index| %>
		      <tr>
		        <td><%= vacc_name vaccine.vac_id %></td>
		         <%name[index] = vacc_name vaccine.vac_id %> 	
		        <td><%= vaccine.amount %></td>
		         <%amount[index] = vaccine.amount %> 	
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>
<% if @center_persons.any? %>
<div class="row">
	<h2>Following Users Are Ready For Vaccination Their Count is: <%=@center_persons.count%> </h2>
	<table>
	  <thead>
	    <tr>
	      <th>Person</th>
	      <th>Vaccine</th>
	      <th>Inject Dose</th>
	    </tr>
	  </thead>

	  <tbody>
	  	<%count = 0%>
	  	<%par_count = 0%>
	    <% @center_persons.each do |person| %>
	      <tr>
	        <td><%= user_name person.user_id %></td>
	        <td><%= vacc_name person.vaccine_id %></td>
	        <% if get_user(person.user_id).vaccinated? %>
	        	<td><button type="button" class="btn btn-success" disabled>Already Vaccinated</button></td>
	        	<% count = count + 1%>
	        <% elsif get_user(person.user_id).partial_vaccinated?%>
	        	<% par_count = par_count + 1%>
	        	<td><%= link_to 'Inject Second Dose', head_get_pin_path(user: person.user_id), class: 'btn btn-warning' %></td>
	        <% else %>
	        	<td><%= link_to 'Inject First Dose', head_get_pin_path(user: person.user_id), class: 'btn btn-info' %></td>
	        <% end %>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
<div class="alert alert-warning mt-5" role="alert">
<h3 class="text-center mt-5">Vaccination Drive Matrices For Your Center </h3>
<%= pie_chart({"Got Vaccinated" => count, "Applicants Left With Vaccination" => @center_persons.count - count - par_count, "Got First Dose Only" => par_count}) %>
</div>
<% else %>
	<div class="row">Ops! There is no one to get vaccinated. Please Enhance Your Vaccination Compaign</div>
<% end %>
<% else %>
	<div class="row">Ops! You Havenot Assigned to any vaccination Center Yet!</div>
<% end %>