<%= form_with(model: admin_vaccination_center) do |form| %>
  <% if admin_vaccination_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_vaccination_center.errors.count, "error") %> prohibited this admin_vaccination_center from being saved:</h2>

      <ul>
        <% admin_vaccination_center.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :head_id %>
    <%= form.select :head_id, options_for_select(User.all_heads.map{|k| [k.second, k.first]}, @admin_vaccination_center.head_id), {}, { class: 'form-control', required: true} %>
  </div>

  <div class="actions">
    <%= form.submit  class: 'btn btn-primary' %>
  </div>
<% end %>
