<p id="notice"><%= notice %></p>

<h1>Admin Vaccination Centers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Head</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_vaccination_centers.each do |admin_vaccination_center| %>
      <tr>
        <td><%= admin_vaccination_center.name %></td>
        <td><%= admin_vaccination_center.location %></td>
        <td><%= admin_vaccination_center.head_id %></td>
        <td><%= link_to 'Show', admin_vaccination_center %></td>
        <td><%= link_to 'Edit', edit_admin_vaccination_center_path(admin_vaccination_center) %></td>
        <td><%= button_to 'Destroy', admin_vaccination_center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Vaccination Center', new_admin_vaccination_center_path %>
