<h2>Please Enter Pin For <%= user_name params[:user]%></h2>

<% if params[:invalid].present? %>
<div class="alert alert-danger" role="alert">
  Invalid Pin Please Try Again!
</div>
<% end %>
<%= form_with url: head_vaccinate_path do |f| %>
	<div class="field">
   		<%= f.label "Enter Pin" %>
   		<%= f.text_field :pin, class: 'form-control', maxlength: 5 %>
   		<%= f.hidden_field :user, value: params[:user] %>
   </div>
   <%= f.submit "Process With Vaccination", class: 'btn btn-primary' %>
<% end %>